body{
background-color: black; 
 text-align: center;
}
p{
front-size:60px;
color:red;
}
a{
color: white;
front-size:44px;
}
h1{
color:white;
front-size: 40px;
}
table.center{
margin-left:auto;
margin-right:auto;
color: white;
}
